/* Layout */
header{
  background: PowderBlue;
  border: 0.0625em solid #000080;
  margin: auto;
  padding: 0.625em;
  height: 3.125em;
  width: 50em;
}

nav{
  background: SteelBlue;
  border: 0.0625em solid #000080;
  margin: auto;
  padding: 0.625em;
  height: 1.25em;
  width: 50em;  
  line-height: 0em;
}

section{
  background: #FFFFFF;
  border: 0.0625em solid #000080;
  margin: auto;
  height: 27.625em;
  width: 50em;   
padding: 0.625em;

}

.toc {
  float: left;
  background: #FFFFFF;
  height: 26em;
  width: 14em;
  overflow-y: auto;

}

.content {
  float: right;
  background: #FFFFFF;
  height: 27.625em;
  width: 34.375em;
  overflow-y: auto;
}

.cheatbox{
  margin: auto;
  height: 27.625em;
  width: 32em;
  padding-left:0.625em;
  padding-right:0.625em;
  background: WhiteSmoke;
  border: 0.1em solid #000080;
  line-height: 1em;
  overflow-y:auto;
}

footer{
  clear: both;
  background: PowderBlue;
  border: 1px solid #000080;
  margin: auto;
  padding: 0.625em;
  height: 1.25em;
  width: 50em;
  line-height: 0em;
}
/*fonts*/

@font-face {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-family: 'Iceland', cursive;
}

/* styles */

  a:link    {color:orange;} /* unvisited link */
  a:visited {color:purple;} /* visited link */
  a:hover   {color:red;} /* mouse over link */
  a:active  {color:green;} /* selected link */

body{
  font-size: 150%;
  font: inherit;
  background: LightGray;
}

h1 {
  color: #000066 ;
  font-family: 'Alegreya Sans SC', Helvetica, Arial; 
  vertical-align: middle;
  line-height: 0.5em;
}

h2, h3, h4, h5, h6 {
    color: #000066 ;
    font-family: 'Alegreya Sans SC', Helvetica, Arial; 
}

p {
    font-size: small; 
    color: black; 
    font-family: 'Carrois Gothic SC', Helvetica, Arial;
}

ol, ul, li {
    font-size: small; 
    color: black; 
    font-family: 'Carrois Gothic SC', Helvetica, Arial;
  a:link    {color:orange;} /* unvisited link */
  a:visited {color:purple;} /* visited link */
  a:hover   {color:red;} /* mouse over link */
  a:active  {color:green;} /* selected link */
}

#nav_font{
   font-size: large; 
   font-family: 'Carrois Gothic SC', Helvetica, Arial;
}


#img_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.cheatsheet h4 {
  font-size: large;
  color: white; 
  background: navy;
  font-family: 'Alegreya Sans SC', Helvetica, Arial;
  font-weight: bold;
  text-indent:0.5em;
  line-height: 1.5em
}

.cheatsheet p {
  font-size: medium;
  color: navy; 
  background: LightSkyBlue;
  font-family: 'Iceland', Helvetica, Arial;
  font-weight: bold;
  text-indent:0.5em;
}

.cheatsheet strong {
  font-size: small;
  color: black; 
  font-family: 'Carrois Gothic SC', Helvetica, Arial;
  text-indent:0.5em;
}
