/* Layout */
header{
  background: PowderBlue;
  border: 1px solid #000080;
  margin: auto;
  padding: 10px;
  height: 50px;
  width: 800px;
}

nav{
  background: SteelBlue;
  border: 1px solid #000080;
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 800px;  
  line-height: 0em;
}

section{
  background: #FFFFFF;
  border: 1px solid #000080;
  padding: 10px;
  margin: auto;
  height: 400px;
  width: 800px;   
  overflow-y: auto;
}

.boxleft {
  float: left;
  background: #FFFFFF;
  height: 380px;
  padding: 10px;
  width: 560px;
  line-height: 0em;
}

aside {
  float: right;
  background: WhiteSmoke;
  border: 3px solid #000080;
  height: 370px;
  padding: 10px;
  width: 180px;
  line-height: 0em;
}

footer{
  clear: both;
  background: PowderBlue;
  border: 1px solid #000080;
  margin: auto;
  padding: 10px;
  height: 20px;
  width: 800px;
  line-height: 0em;
}

