/*fonts*/

@font-face {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-family: 'Iceland', cursive;
}

/* styles */

  a:link    {color:orange;} /* unvisited link */
  a:visited {color:purple;} /* visited link */
  a:hover   {color:red;} /* mouse over link */
  a:active  {color:green;} /* selected link */

body{
  font-size: 150%;
  font: inherit;
  background: LightGray;
}

h1, h2, h3, h4, h5, h6 {
    color: #000066 ;
    font-family: 'Alegreya Sans SC', Helvetica, Arial; 
}

p {
    font-size: small; 
    color: black; 
    font-family: 'Carrois Gothic SC', Helvetica, Arial;
}

ul, li {
    font-size: small; 
    color: black; 
    font-family: 'Carrois Gothic SC', Helvetica, Arial;
}

#font_question{
    font-size: medium; 
    color: black; 
    font-family: 'Iceland', Helvetica, Arial;
    font-weight: bold;
}

#nav_font{
   font-size: large; 
   font-family: 'Carrois Gothic SC', Helvetica, Arial;
}

#img_center{
    margin:auto;
}