body{
	margin-top: 20px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #000080;

}

h1, h2, h3, h4, h5, h6 {
	color: pink;
	font-family: Helvetica; 
}
p {
	font-size: small; 
	color: white; 
	font-family: Helvetica;
}
.emphasis{ 
	font-size: Large; 
	color: cyan;
	font-weight: bold;
	font-family: Helvetica;
}

#listheader{
	font-size: Large;
	color: pink; 
	font-family: Helvetica;
}

.listtext{
	font-size: Medium;
	color: white; 
	font-family: Helvetica;
}