.box1 {
  background: #fff;
  border: 6px solid #ccc;
  height: 100px;
  margin: auto;
  padding: 20px;
  width: 800px;
}

.boxnav {
  background: #fff;
  border: 6px solid #ccc;
  height: 30px;
  margin: auto;
  padding: 20px;
  width: 800px;
}
.box-parent {
  background: #ffffff;
  overflow: auto;
  border: 6px solid #ccc;
  height: 800px;
  margin: auto;
  padding: 20px;
  width: 800px;
}
}

.boxsection {
  float: left;
  background: #ffffff;
  border: 6px solid #ccc;
  height: 380px;
  padding: 20px;
  width: 600px;
}
.boxaside {
  float: right;
  background: #000080;
  border: 6px solid #ccc;
  height: 700px;
  padding: 20px;
  width: 200px;

}
.boxfooter {
  clear: both;
  background: #fff;
  border: 6px solid #ccc;
  height: 50px;
  margin: auto;
  padding: 20px;
  width: 800px;
}

  a:link	{color:#FF0000;} /* unvisited link */
  a:visited	{color:#00FF00;} /* visited link */
  a:hover	{color:#FF00FF;} /* mouse over link */
  a:active	{color:#0000FF;} /* selected link */

body{
  border: 3;
  font-size: 150%;
  font: inherit;
  vertical-align: baseline;
  background: #800000;
}

h1, h2, h3, h4, h5, h6 {
	color: pink;
	font-family: Helvetica; 
}
p {
	pading: 10px;
	font-size: small; 
	color: black; 
	font-family: Helvetica;
}
.emphasis{ 
	font-size: Large; 
	color: cyan;
	font-weight: bold;
	font-family: Helvetica;
}

#listheader{
	font-size: Large;
	color: pink; 
	font-family: Helvetica;
}

.listtext{
	font-size: Medium;
	color: white; 
	font-family: Helvetica;
}