      /*CSS GOES HERE*/
header h1 {
  text-align: center;
  color: blue;
  font-size: 3em;
  font-family: 'Inconsolata', sans-serif;
}
#common h3 {
  color: red;
}
  
#adam {
  float: left;
}
 
#adam ul {
  list-style: none;
}
 
#adam ul li{
  color: blue;
  font-size: 20px;
}
 
#aki{
  float: right;
}  
#aki ul{
  list-style: none;
}
 
#aki ul li{
  color: blue;
  font-size: 20px;
}
 
#adam img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
#aki img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
footer p{
  text-align: center;
}